src/main/webapp/quizes/MCQuiz.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="quiz">
    <xsd:complexType>
      <xsd:sequence>
          <xsd:element name="questionText" type="xsd:string"/>
          <xsd:element name="choiceList">
               <xsd:complexType>
                 <xsd:sequence>
                    <xsd:element name="choice" type="xsd:string"/>
                 </xsd:sequence>
               </xsd:complexType>
          </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

